.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-height: 800px;
    
}
.carousel-caption {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
    vertical-align: center;
    position: absolute;
    margin-bottom: 5rem;
}